run = "npx --yes serve . -l $PORT"
entrypoint = "index.html"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx --yes serve . -l $PORT"]
deploymentTarget = "static"
publicDir = "."

[[ports]]
localPort = 3000
externalPort = 80
